# This is the default .gitignore file for Unity.

# Builds
 Builds/

# Library
 Library/

# Temp
 Temp/

# obj
 obj/

# bin
 bin/

# Visual Studio files
 *.csproj
 *.unityproj
 *.sln
 *.user
 *.userprefs

# macOS files
 .DS_Store
